<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>Blog</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>GetArticleContentServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.GetArticleContentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetArticleContentServlet</servlet-name>
		<url-pattern>/GetArticleContentServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetEditArticleServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.GetEditArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetEditArticleServlet</servlet-name>
		<url-pattern>/GetEditArticleServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetIndexServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.GetIndexServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetIndexServlet</servlet-name>
		<url-pattern>/index.html</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetPersonInfoServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.GetPersonInfoServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPersonInfoServlet</servlet-name>
		<url-pattern>/GetPersonInfoServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetSearchServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.GetSearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetSearchServlet</servlet-name>
		<url-pattern>/GetSearchServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>GetAllTagNameServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.GetAllTagNameServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetAllTagNameServlet</servlet-name>
		<url-pattern>/GetAllTagNameServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleDelCommentServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleDelCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleDelCommentServlet</servlet-name>
		<url-pattern>/HandleDelCommentServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleDeleteArticleServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleDeleteArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleDeleteArticleServlet</servlet-name>
		<url-pattern>/HandleDeleteArticleServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleEditArticleServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleEditArticleServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleEditArticleServlet</servlet-name>
		<url-pattern>/HandleEditArticleServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleLoginServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleLoginServlet</servlet-name>
		<url-pattern>/HandleLoginServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleReCommentServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleReCommentServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleReCommentServlet</servlet-name>
		<url-pattern>/HandleReCommentServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleUploadServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleUploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleUploadServlet</servlet-name>
		<url-pattern>/HandleUploadServlet.action</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>HandleUploadStatusServlet</servlet-name>
		<servlet-class>com.dragon.blog.servlet.HandleUploadStatusServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>HandleUploadStatusServlet</servlet-name>
		<url-pattern>/HandleUploadStatusServlet.action</url-pattern>
	</servlet-mapping>
</web-app>